
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto&family=Urbanist&display=swap');

.data-part {
    display: flex;
    height: 100vh; /* Set the height of the container */
  }
  
  .leftrightmaincontainer {
    display: flex;
    flex: 1; /* Take up remaining space */
  }
  
  
  .arrow-icon {
    cursor: pointer;
  }
  
  .sidebar-options {
    margin-top: 20px;
  }
  
  .sidebar-list {
    list-style: none;
    padding: 0;
  }
  
  .sidebar-list a {
    text-decoration: none;
  }
  
  .sidebar-list li {
    margin-bottom: 15px;
    cursor: pointer;
  }
  
  .content-container {
    flex: 1; /* Take up remaining space */
    padding: 20px;
    margin-left : 70px;
  }
  
  .breadcrumb-bar {
    font-size: 14px;
    font-weight: 400;
    max-width: 50%;
    padding-top : 25px;
    letter-spacing: 1px;
    margin-bottom: 20px;
    margin-left : 3px;
  }
  
  .breadcrumb-bar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .breadcrumb-bar li {
    display: inline;
    margin-right: 5px;
  }

  .breadcrumb-bar a, li {
    color:#6f6f6f;
}
  
  .outerwear-caption {
    margin-bottom: 20px;
  }
  

  /* Sidebar Styles */
.sidebar {
    width: 70px; /* Set the width of the sidebar */
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 119px;
    left: -15px;  /* Initially hidden off-screen */
    height: 100vh;
    background-color:white;
    transition: left 0.3s ease;
    border-color: #181818;
    font-size: 11px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 1px;
    z-index: 0;
  }
  
  .arrow-icon {
    color: #181818;
    padding: 15px;
    cursor: pointer;
    width: 50px;
    height: 50px;
  }
  
  .sidebar-options {
    padding: 20px;
  }
  
  .sidebar-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar-list li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
  
  .sidebar-list li i {
    margin-right: 10px;
    font-size: 1.5rem;
  }
  
  /* Initially hide the labels */
  .option-label {
    display: none;
    color: #181818;
  }
  
  /* Expanded state */
  .sidebar.expanded {
    left: 0;
    width: 250px;
  }
  
  .sidebar.expanded .option-label {
    display: inline-block;
  }
  
  .data-part {
    padding-top: 118px;
}

.outerwear-caption {
    font-weight: bold;
}

.outerwear-caption .capt {
    font-weight: 600;
    color: black;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 3px;
}

/* Add your CSS styles here */
.address {

    padding: 16px;
    margin-bottom: 15px;
    display: inline-block;
    margin-right: 35px;
    width: 275px;
    height: 280px;
    border-bottom : 100px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Adjust values for your desired shadow */
}
  
.address-container {
    margin-top : 30px;
}
.address-container .name-part {
    font-size : 13.5px;
    font-family: 'Roboto', sans-serif;
    font-weight : 400;
    letter-spacing : 1px;
}

.address-container .info-part {
    font-family: 'Roboto', sans-serif;
    font-size : 10px;
    letter-spacing : 1.5px;
    padding-bottom : 5px;
    font-weight : 500;
}

.address-capt
{
    font-family: Roboto;
    padding-bottom : -2px;
}

.address-hr-line {
    border: 0; /* Remove default border */
    height: 1.25px; /* Set the height to create a horizontal line */
    background-color: gray; 
    margin-top: 12px;
    width: 95%;
}

.add-new-button-class {
    margin-top : 70px;
}
button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px;
    background: #181818;
    font-family: "Montserrat", sans-serif;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border: none;
    width : 189px;
    height : 45px;
    margin-bottom : 40px;
  
   }
   
   button:after {
    content: " ";
    width: 0%;
    height: 100%;
    background: white;
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
   }
   
   button:hover::after {
    right: auto;
    left: 0;
    width: 100%;
   }
   
   button span {
    
    text-decoration: none;
    width: 100%;
    color: #fff;
    font-size: 13px;
    font-weight: lighter;
    letter-spacing: 1px;
    z-index: 20;
    transition: all 0.3s ease-in-out;
   }
   
   button:hover span {
    color: black;
    font-weight:lighter;
    animation: scaleUp 0.3s ease-in-out;
   }
   
   @keyframes scaleUp {
    0% {
     transform: scale(1);
    }
   
    50% {
     transform: scale(0.95);
    }
   
    100% {
     transform: scale(1);
    }
   }

   .foot {
    margin-top : 180px;
   }