.foot{
    background-color: #181616;
    color: #d8d0d0;
    padding: 20px;
}
.foot hr{
    border-color: #0f0c0c;
    
}
.footer {
    display: flex;
    justify-content: space-around;
}

.footer-section {
    width: 140px;
}
.footer-section-newsletter {
    max-width: 300px;
}

.footer-section-follow {
    width: 300px;
}
.footer h3 {
    font-size: 1.05em;
    margin-bottom: 10px;
}
.footer-section-newsletter h3 {
    font-size: 1.4em;
    margin-bottom: 10px;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 8px;
}

.footer-section ul li a {
    text-decoration: none;
    color:  #d8d0d0 ;
    font-size: 0.8em;
}
.footer-section-follow ul li a {
    text-decoration: none;
    color:  #d8d0d0 ;
    font-size: 0.8em;
    padding: 3px;
}

.social-media {
    display: flex;
    padding: 0;
}

.social-media li {
    margin-right: 10px;
}

input {
    width: 80%;
    padding: 8px;
    margin-bottom: 10px;
}
.end-text{
    margin-top: 6%;
    color: #a39a9a;
    font-size:smaller;
    margin-bottom: 10px;
    padding-left: 4%;
    line-height:1cm;
}
.newsletter-input{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #c7bfbf;
    color:  #c7bfbf;
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    transition: border-bottom 0.3s;
    outline: none
    
   
}