.kidscollection-container {
  width: 100vw;
}

.collection-subtitle {
  letter-spacing: 1px;
  font-size: 15px;
  line-height: 23px;
  padding-top: 23px;
  font-family: Roboto;
  font-weight: 580;
}

.collection-title {
  font-size: 3vw;
  line-height: 47px;
  letter-spacing: 3px;
  padding-top: 23px;
  font-weight: 700;
  font-family: Roboto;
}

.kids-content {
  font-size: 1.2vw;
  line-height: 23px;
  padding-top: 23px;
  font-family: Roboto;
  font-weight: 400;
  letter-spacing: 1.1px;
}



.discover_store_link{
  color: black; 
  font-family: Roboto;
  font-size: 1.2vw;
  letter-spacing: 0.7px;
  text-decoration: none;
}
.discover_store_link:hover {
  text-decoration: none;
  color: black;
}

.discover_store_link svg {
  margin-left: -1vw;
  margin-top: -0.5vh;
  height: 11px;
  width: 35px;
  transition: transform 0.1s ease-in-out;
}

.discover_store_link svg:hover,
.kid_collection_subtitle:hover .discover_store_link img {
  transform: scale(1.2);
}


.subtitle {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 1.5px;
  padding-bottom: 18px;
  font-weight: 450;
}

.kid_collection_subtitle a{
    text-decoration: none; 
    color: black;
}
