@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin hover-transition($property) {
  &:hover {
    transition: #{$property} 0.3s ease-in-out;
  }
}

.cart-product-list {
  height: 270px;
  overflow-y: scroll;
  margin-bottom: 40px;
}

.cart-item {
  @include flex-center;
  margin-bottom: 30px;
  margin-left: 30px;
}

.cart-item-info {
  width: 460px;
  margin-left: 30px;
}

.cart-product-icon img {
  width: 74px;
  height: 99.16px;
}

.cart-product-quantity {
  @include flex-center;
  margin-top: 10px;
}

.MuiIconButton-label-del {
  margin-top: 5px;
}

.cart-product-quantity-number {
  padding-top: 13px;
  font-size: 12px;
  color: #000000b6;
}

.cart-product-quantity .pop-up-minus-icon,
.cart-product-quantity .pop-up-plus-icon {
  width: 16px;
  cursor: pointer; // Add cursor: pointer here
}

.cart-product-code-value {
  font-size: 12px;
  letter-spacing: 2px;
  color: rgba(0, 0, 0, 0.54);
}

.cart-product-name {
  color: rgba(0, 0, 0, 0.685);
  font-size: 16px;
  letter-spacing: 1px;
  margin-bottom: 11px;
  padding-right: 20px;
}

.cart-product-size {
  font-size: 14px;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.54);
}

.cart-product-quantity .pop-up-minus-icon {
  margin-right: 10px;
}

.cart-product-quantity .pop-up-plus-icon {
  margin-left: 10px;
}

.cart-product-quantity .cart-product-quantity-number {
  margin-bottom: 15px;
  color: rgba(0, 0, 0, 0.795);
}

.cart-product-price {
  @include flex-center;
  justify-content: flex-end;
  color: rgba(0, 0, 0, 0.836);
  font-size: 13px;
  letter-spacing: 1px;
  padding-right: 25px;
}

.wishlist-delete-icons-container {
  @include flex-center;
  margin-left: 290px;
}

.view-cart-button {
  margin-right: 15px;
  width: 120px;
  height: 40px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  border: none;
  background-color: white;
  @include hover-transition(background-color);

  &:hover {
    background-color: #f0f0f0;
  }
}

.view-cart-div {
  @include flex-center;
  margin-top: 15px;
}
