@font-face {
    font-family: 'Roboto-bold';
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
}
@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
:root {
    --main-bg-color: #181818;
}

body {
    font-family: 'Roboto';
    overflow-x: hidden;
}

body h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}